@page "/todos"

<PageTitle>ToDo Page</PageTitle>

<h3> To Do @todos.Count(c => !c.IsDone) </h3>

<div>
    <input placeholder="something todo" @bind="newToDo"/>
    <button @onclick="AddToDo"> Add To Do</button>
</div>

<ul>
    @foreach(var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
                @if(todo.IsEditing)
                {
                    <input @bind="todo.Title"/>
                    <buttton @onclick="(() => Edited(todo))">Save</buttton>
                }
                else{
                    @todo.Title 
                    <button @onclick="(() => toEdit(todo))">Edit</button>
                }
            <button @onclick="(() => deleteToDo(todo))">Delete</button>
        </li>
    }
</ul>

@code {
    private List<ToDoItem> todos = new();

    private string? newToDo;

    private void AddToDo()
    {
        if(!string.IsNullOrWhiteSpace(newToDo))
        {
            todos.Add(new ToDoItem{Title = newToDo});
            newToDo = string.Empty;
        }
    }

    private void deleteToDo(ToDoItem todo)
    {
        todos.Remove(todo);   
    }

    private void toEdit(ToDoItem todo)
    {
        todo.IsEditing = true;
    }

    private void Edited(ToDoItem todo)
    {
        todo.IsEditing = false;
    }


}