@page "/nav-handler";
@implements IDisposable
@inject NavigationManager Navigation


<p>

    <button @onclick="@(() => Navigation.NavigateTo("/"))">
            Home (Allowed)
    </button>

    <button @onclick="@(() => Navigation.NavigateTo("/counter"))">
            Counter (Prevented)
    </button>

</p>

@code{


}